#davidsSlide{
	margin-bottom: 5%;
}


#davidsSlide img{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 5px outset red;
}


#zombie{
    height:100px;
    width:100px;
    position: absolute;
    top: 0;
    left: 0;
}
