/*
 * Globals
 */


    

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

/*navbar*/

.navbar-nav, .navbar-header{
  display: inline-block;
}

.navbar-inverse{
  background-color: red;
}

// .masthead {
//   margin-bottom: 2rem;
//   background-color: black;
// }

// .masthead-brand {
//   margin-bottom: 0;
// }

// .nav-masthead .nav-link {
//   padding: .25rem 0;
//   font-weight: 700;
//   color: rgba(255,255,255,.5);
//   background-color: black;
//   border-bottom: .25rem solid transparent;
// }

// .nav-masthead .nav-link:hover,
// .nav-masthead .nav-link:focus {
//   border-bottom-color: rgba(255,255,255,.25);
// }

// .nav-masthead .nav-link + .nav-link {
//   margin-left: 1rem;
// }

// .nav-masthead .active {
//   color: #fff;
//   border-bottom-color: #fff;
// }

// @media (min-width: 48em) {
//   .masthead-brand {
//     float: left;
//   }
//   .nav-masthead {
//     float: right;
//   }
// }


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*featurette styling*/
img{
  margin-top: 35px;
}


h2.featurette-heading{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

div.container.marketing{
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
margin: 0 auto;
width: 100%;
padding: 0;

}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}

@media (min-width: 576px) {

  .container{
    min-width: 1024px;
  }
}

/*======================================       Davids CSS       =======*/

.threeCircles{
  padding: 10% 1%;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background: linear-gradient(hsl(207, 19%, 36%), hsl(208, 19%, 38%));
}

#myCarousel{
  margin-bottom: 0;
}

/*.pad-marging{
  margin-top: 10%;
}*/

.shifu h2{
  color: #FF8633;
}

.shifu p{
  color: white;
}

.Roshi h2{
  color: #3395FF;
}

.Roshi p{
  color: white;
}

.Master h2{
  color: #FF5E33;
}

.Master p{
  color: white;
}

